.logo{
    background-color: blue;
    height:10em ;
    background-image: url(file:///C:/Users/vlemb/OneDrive/Desktop/Boolean/html-css-booleaner/logo/logo.svg);
    background-repeat: no-repeat;
    background-size: 20em 10em;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    
    text-align: start;
}

.sottotitolo{
    background-size: 10em;
}
.font-blu{
    color: rgb(16, 148, 236);
}
